<%= form_for(@riddle) do |f| %>
  <% if @riddle.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@riddle.errors.count, "error") %> prohibited this riddle from being saved:</h2>

      <ul>
      <% @riddle.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
